.hide-element{
    display: none;
}

body {
    background-color: #eee;
}
body > #loginModule.grid, body > #registrationModule.grid {
    height: 100%;
}
#loginModule .column, #registrationModule .column {
    max-width: 450px;
}

.ui.main.menu{
    margin-top: 0px !important;
}

.sidebar-header{
    width: 50%;
    margin: 0 auto; 
    text-align: center;
}

.sidebar-header > .image{
    margin: 10px;
}

.file-input{
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    z-index: 2;
    opacity: 0.0; 
    filter: alpha(opacity=0); 
    -ms-filter: "alpha(opacity=0)"; 
    -khtml-opacity: 0.0; 
    -moz-opacity: 0.0;
}